{% load static %}
{% extends "base.html" %}
{% block content %}
  <h1>{% if form.instance.pk %}Edit Post{% else %}Create Post{% endif %}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
      {{ form.title.label_tag }}<br>
      {{ form.title }}
      {{ form.title.errors }}
    </div>
    <div>
      {{ form.content.label_tag }}<br>
      {{ form.content }}
      {{ form.content.errors }}
    </div>
    <button type="submit">Save</button>
  </form>
  <p><a href="{% url 'post-list' %}">Back</a></p>
{% endblock %}
